/* CSS */

$headingFont: 'Frank Ruhl Libre', serif;
$bodyFont: 'Martel Sans', sans-serif;

/* SCSS HEX */
$raisin-black: #252631;
$bluetiful: #0061f2;
$yellow-orange: #ffb23e;
$white: #ffffff;
$sheen-green: #81d84f;
$cadet-grey: #97a9bc;

/* SCSS HSL */
$raisin-black: hsla(235, 14%, 17%, 1);
$blue-crayola: hsla(224, 100%, 65%, 1);
$yellow-orange: hsla(36, 100%, 62%, 1);
$white: hsla(0, 0%, 100%, 1);
$sheen-green: hsla(98, 64%, 58%, 1);
$cadet-grey: hsla(211, 22%, 66%, 1);

/* SCSS RGB */
$raisin-black: rgba(37, 38, 49, 1);
$blue-crayola: rgba(74, 122, 255, 1);
$yellow-orange: rgba(255, 178, 62, 1);
$white: rgba(255, 255, 255, 1);
$sheen-green: rgba(129, 216, 79, 1);
$cadet-grey: rgba(151, 169, 188, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);
$gradient-right: linear-gradient(90deg, #252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);
$gradient-bottom: linear-gradient(180deg, #252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);
$gradient-left: linear-gradient(270deg, #252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);
$gradient-top-right: linear-gradient(45deg, #252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);
$gradient-bottom-right: linear-gradient(135deg, #252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);
$gradient-top-left: linear-gradient(225deg, #252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);
$gradient-bottom-left: linear-gradient(315deg, #252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);
$gradient-radial: radial-gradient(#252631, #0061f2, #ffb23e, #ffffff, #81d84f, #97a9bc);




/* SCSS HEX */
$slate-gray: #628395;
$middle-grey: #96897B;
$medium-champagne: #DFD5A5; 
$earth-yellow: #DBAD6A;
$camel: #cf995f;
$smoky-black: #100A05;
$white: #fff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-right: linear-gradient(90deg, #628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-bottom: linear-gradient(180deg, #628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-left: linear-gradient(270deg, #628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-top-right: linear-gradient(45deg, #628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-bottom-right: linear-gradient(135deg, #628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-top-left: linear-gradient(225deg, #628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-bottom-left: linear-gradient(315deg, #628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-radial: radial-gradient(#628395, #96897B, #DFD5A5, #DBAD6A, #cf995f);
$gradient-radial2: radial-gradient(#628395, #96897B, #DFD5A5, #DBAD6A, #100A05);


/*
.main-page,
.login-page {
  background-image: url(../images/people.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;

}
*/

/*---------------------------- Colors and Gradients */ 

.bg-gradient-primary-to-secondary {
    background-color: $bluetiful;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}

.shadow-right {
    box-shadow: 0.15rem 0 1.75rem 0 rgba(31, 45, 65, 0.15);
}


/*---------------------------- Icons */ 
.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -0.125em;
}

/*---------------------------- Header */ 
header {
	background-color: $earth-yellow;
	/*padding: 0 15px 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 6px 14px 1px rgba(62, 0, 124, 0.18); */

	h1.heading {
		font-family: $headingFont;
		font-size: 50px;
		font-weight: 600;
	}
	.showcase-text {
		padding: 3rem !important;
	}

	.header-image {
		background-image: url(images/header-img2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 30rem;
	}

	@media (min-width: 768px) {
		.header-image {
			min-height: 50rem;
		}
		.showcase-text {
			padding: 7rem !important;
		}
	}
}

.topbar {
	padding-bottom: 25px;
    padding-top: 25px;
}


/*---------------------------- Navbar */ 
.topnav.navbar-light .navbar-brand {
    color: $raisin-black;
}
.topnav .navbar-brand {
    width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}



/*---------------------------- Sidebar */ 

#wrapper {
    overflow-x: hidden;
}

.sidenav-light {
    background-color: #fff;
    color: #1f2d41;
}

#sidebar-wrapper {
	width: 15rem;
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;

	.sidenav .sidenav-menu {
		overflow-y: hidden;
		flex-grow: 1;
	}
	.sidenav .sidenav-menu .nav {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	nav.sidenav {
		padding-top: 3.625rem;
		font-size: 0.9rem;
	}
	.sidebar-heading {
		padding: 0.875rem 1.25rem;
		display: flex;
		flex-direction: column;
		height: 100%;
		flex-wrap: nowrap;
		font-size: 0.9rem;
	}
	.sidenav-menu-heading {
		padding: 1.75rem 1rem 0.75rem;
		font-size: 0.7rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}
	.sidenav .sidenav-menu .nav .nav-link {
		display: flex;
		align-items: center;
		line-height: normal;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		position: relative;
	}
	.sidenav .sidenav-menu .nav .nav-link .nav-link-icon {
		font-size: 0.9rem;
		padding-right: 0.5rem;
		display: inline-flex;
	}
	.sidenav-menu .nav-link .nav-link-icon {
		color: #a2acba;
	}
	.nav .nav-link .nav-link-icon, .sidenav-menu .nav-link .nav-link-icon {
		margin-right: 0.5rem;
	}
	.sidenav .sidenav-menu .nav .nav-link .sidenav-collapse-arrow {
		display: inline-block;
		margin-left: auto;
		transition: transform 0.15s ease;
	}
	.sidenav-menu .nav-link .sidenav-collapse-arrow {
		color: #a2acba;
	}
	.sidenav .sidenav-menu .nav .sidenav-menu-nested {
		flex-direction: column;
		margin-left: 1.4375rem;
		border-color: #e0e0e0;
		border-left-style: solid;
		border-left-width: thin;
		padding-left: 0.5625rem;
	}

	

}






#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}






/*---------------------------- Buttons */ 
.btn {
	border-radius: 0;

	&:hover {
		text-decoration: none;
	}
}

.btn-primary {
	background-color: $smoky-black;
	color: $white;
	border-radius: 20rem;
    padding: 10px 20px;
    border: none;
}

.btn-transparent-dark {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
	color: rgba(31, 45, 65, 0.5) !important;

	&:focus, 
	&.focus {
		color: #fff;
		background-color: rgba(31, 45, 65, 0.1);
		border-color: transparent;
		box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
	}
	
	&:hover {
		color: #fff;
		background-color: rgba(31, 45, 65, 0.1);
		border-color: transparent;
	}
}



.btn-icon {
    padding: 0;
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;
    flex-shrink: 0;
    height: calc( (1rem * 1.5) + (0.5rem * 2) + (2px) ) !important;
    width: calc( (1rem * 1.5) + (0.5rem * 2) + (2px) ) !important;
}
/*---------------------------- Login */
.section--form {
	padding: 8rem;
	background-color: $medium-champagne;

	.section--form_inner {
		padding: 5%;
		background-color: $white;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	}
	.section--form_inner h3 {
		text-align: center;
		color: #333;
	}
	.reg-form {
		padding: 5%;
		background: $earth-yellow;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	}
	.reg-form h3 {
		text-align: center;
		color: #fff;
	}
	.login-container form {
		padding: 10%;
	}
	.reg-form .ForgetPwd {
		color: #fff;
		font-weight: 600;
		text-decoration: none;
	}
	.section--form_inner .ForgetPwd {
		color: $earth-yellow;
		font-weight: 600;
		text-decoration: none;
	}
}







footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
