
$font__main: 'Martel Sans', sans-serif;
$font__main_bold: 'Martel Sans', sans-serif;
$font__heading: 'Frank Ruhl Libre', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

