

#main_wrapper:before {
    left: 0;
}
#main_wrapper:after {
    right: 0;
}

#main_wrapper:before, 
#wrapper:after {
    height: 100vh;
    width: 5px;
    position: fixed;
    content: '';
    z-index: 999;
    top: 0;
}

.card.form-card {
	padding: 0;
	border-radius: 10px 10px 0 0;
	background-color: transparent;
	-webkit-box-shadow: -1px -1px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -1px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -1px -1px 21px -9px rgba(0,0,0,0.75);

	.card-header {
		background: #FF9800;
		padding: 30px 20px;
		color: $color__white;
		font-size: 1.2em;
		font-weight: 600;
		border-radius: inherit;

		p {
			color: $accent-3;
			font-weight: 400;
		}
	}

	.card-body {
		background-color: $color__white;
	}
}



section.login-page,
section.reg-page {
	padding: 5%;
    background: $accent-4;
}




.block-header h2 {
    font-size: 20px;
}

.card-header {
    padding: 20px 20px 30px;
	background: transparent;
	border: none;
	box-shadow: none;
}

.card .body {
    padding: 20px;
    font-weight: 400;
}
.card .header h2 {
    font-size: 16px;
    color: #444;
    position: relative;
}